.datetime {
    text-align: center;
}

.datetime-portrait > .time {
    font-size: 3em;
}

.datetime-portrait > .date {
    font-size: 1.5em;
}

.datetime-landscape > .time {
    font-size: 2em;
}

.datetime-lanscape > .date {
    font-size: 1.3em;
}


.item {
    text-align: center;
    padding: 20px;
}

.item-desc {
    width: 100%;
}

.item-logo {
    height: 125px;
    width: auto;
}

.row-items {
    height: 150px;
    margin-top: 50px;
}

